/* Hide scrollbar globally but allow scrolling */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.main_container{
  margin-top: 3.5em;
  /* background-color: #4caf50; */
  padding-right: 10px;
  padding-left: 10px;
}

a {
  color: inherit; /* Keeps the link color same as surrounding text */
  text-decoration: none; /* Optional: removes underline */
}

a:visited {
  color: inherit; /* Keeps the link color same as surrounding text */
}



.input_field{
  background-color: white;
    color: black;
      /* Light grey border */
    border-radius: 10px;     /* Rounded corners */
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    outline: none;           /* Removes default outline */
    width: 100%;             /* Adjust width as needed */
    box-sizing: border-box;  /* Ensures padding doesn't affect width */
    transition: border-color 0.3s ease; /* Smooth border transition */
  
    font-family: "SUSE-BOLD";
  
  }
  
  .input_field:focus {
      border-color: #4caf50;   /* Green border on focus */
    }